
body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: white;
}

img {
    max-width: 400px;
    max-height: auto;
}

h1 {
    font-family: myfont;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #990000;
    color: white;
}

.left {
    display: flex;
    flex-direction: column;
}

.holder {
    display: flex;
    background-color: indianred;
    color: white;
}

.links {
    display: flex;
    gap: 10px;
}

@font-face {
    font-family: myfont;
    src: url(bata.ttf);
}