
body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
    color: antiquewhite;
}

.holder img {
    max-width: 450px;
    max-height: auto;
    padding-right: 200px;
    padding-bottom: 40px;
    overflow: none;
}

h1 {
    font-family: myfont;
    font-size: 40px;
}

.text {
    font-size: 48px;
    font-weight: bolder;
}

p {
    margin: 0;
    width: 400px;
    font-size: 18px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #990000;
    color: antiquewhite;
    padding-left: 200px;
    padding-right: 20px;
}

.left {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    width: 300px;
    padding-left: 200px;
}

.holder {
    display: flex;
    background-color: #990000;
    color: antiquewhite;
    justify-content: space-between;
    padding-top: 50px;
}

.links {
    display: flex;
    gap: 10px;
    padding-right: 180px;
}

button {
    align-items: flex-end;
    width: 90px;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 7px;
    border-radius: 7px;
    background-color: dimgrey;
    color: white;
}

@font-face {
    font-family: myfont;
    src: url(bata.ttf);

    font-family: lightitallic;
    src: url(SourceSansPro-LightItalic.ttf)
}

.upper-sub img {
    height: auto;
    width: 200px;
}

.upper-sub {
    display: flex;
    flex-direction: column;

}

.upper-sub p {
    text-align: center;
    margin: auto;
    font-size: 36px;
    font-weight: bold;
    width: 500px;
    padding: 40px;
}

.info {
    max-width: 100px;
    text-align: center;
    padding: 80px;
    justify-content: center;
}

.content {
    display: flex;
  align-items: center;
  gap: 52px;
  text-align: center;
  padding-left: 120px;
  padding-right: 120px;
}

.three img {
    height: 133.33px;
}

.lower-sub{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    padding: 90px;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.proverb {
    font-size: 36px;
    width: 800px;
    /* text-align: center; */
    font-style: oblique;
    align-items: center;
    font-family: lightitallic;
    color: #990000;

}

.quote {
    display: flex;
    justify-content: flex-end;
    padding-left: 520px;
    font-size: 18px;
    font-weight: 900;
    color: #990000;
}

.bottom-sect {
    display: flex;
    
    background-color: #990000;
    color: antiquewhite;
    margin: 80px;
    margin-left: 220px;
    margin-right: 220px;
    padding: 20px;
    padding-left: 130px;
    border-radius: 7px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.bottom-sect button {
    margin: auto;
    padding: 10px;
    
}

.txt {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
}

.txt-two {
    font-weight: 50;
}